* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

form {
    margin-top: 25px;
}

label {
    margin-top: 15px;
    color: black;
    font-weight: 500;
}

input {
    border: 1px solid rgb(163, 163, 163);
    border-radius: 8px;
    padding: 12px;
    width: 100%;
    height: 50px;
    font-weight: 500;
    margin-top: 6px;
}

input:active {
    background-color: #fafafa;
}

button {
    border: none;
    background-color: transparent;
}

.button {
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 8px;
    color: black;
    transition: .2s linear;
    cursor: pointer;
}

.button:hover {
    background-color: black;
    color: #fff;
}

.page {
    width: 500px;
    max-width: 100%;
    height: auto;
    -webkit-box-shadow: 0px 3px 10px -1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 3px 10px -1px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 3px 10px -1px rgba(34, 60, 80, 0.2);
    border-radius: 12px;
    padding: 32px;
    margin: 0 auto;
    margin-top: 100px;
}

@media screen and (max-width: 768px) {
    .page {
        margin-top: 0px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding: 16px;
    }
}